<!-- Chatroom -->
<div class="chatroom card" data-chatroom_id="<%= chatroom.id %>">
<div unselectable="on" class="content">
	<i class="tv icon"></i>
	<b><%= chatroom.title %></b>
</div>
</div>
<!-- /Chatroom -->