<%= render partial: "users/checkbox_form", locals: {chatroom: chatroom,
																								 action_name: "new-action",
																							 			 id_name: "chatroom-form",
																									class_name: "chatroom-form",
																											number: 0,
																												 url: chatroom_path,
																											 users: users,
																									text_field: true} %>

<!-- Users -->
<div class="content new-action" id="users">
<div class="ui cards">
<% users.each do |user| %>

	<!-- User -->
	<%= render partial: 'users/user_card', locals: {user: user} %>
	<!-- /User -->

<% end %>
</div>
</div>
<!-- /Users -->