<h2 class="view-action" id="view-header"> Chatrooms </h2> <!-- Header -->

<!-- Chatrooms -->
<div class="content view-action" id="chatrooms">
<div class="ui link cards">
<% user_chatrooms.each do |chatroom, unread| %>

	<%= render partial: 'chatroom_card', locals: {chatroom: chatroom, unread: unread} %>

<% end %>
</div>
</div>
<!-- /Chatrooms -->