<label class="input-checkbox" for="chatroom_user_ids_<%= user_id %>">
	<input class="checkbox" type="checkbox" value="<%= user_id %>" name="chatroom[user_ids][]" id="chatroom_user_ids_<%= user_id %>">
	<%= username %>
</label>