@import "semantic-ui";

#navbar {
	margin-bottom: 20px;
}

.chatbox {
	height: 450px;
}

#messages {
	height: 15em;
	overflow: auto;
}

.content .field .input .button {
		display: none;
	}

#signupbtn {
	opacity: 0.5;
}

#divider {
	color: #777;
}