@import "semantic-ui";

#navbar {
	margin-bottom: 10px;
}

.chatbox {
	height: 394px;
}

#messages {
	height: 15em;
	overflow: auto;
	padding: 30px;

}

.content .field .input .button {
		display: none;
	}

#signupbtn {
	opacity: 0.5;
}

#chatroom-header {
	margin-top: 5px;
}

#header {
	margin-top: 20px;
}

#divider {
	color: #777;
}

#messages-wrapper {
	min-height: 45px;
}

.user {
	display: block;
	color: #888;
}

.content .summary .segment {
	font-size: 1.2rem;
	line-height: 1.8rem;
	margin-top: 0px;
	padding: 5px 10px;
	max-width: 500px;
	overflow-wrap: break-all;
    word-wrap: break-all;
}

#hidden-user-id, .hidden-msg-user-id, .hidden-prev-msg-user-id {
	display: none;
}

.ui.horizontal.divider {
	color: #888;
	font-weight: normal;
	font-size: small;
}

.ui.horizontal.divider .date {
	font-weight: bold;
}