@import "semantic-ui";

#navbar {
	margin-bottom: 10px;
}

.chatbox {
	height: 394px;
}

#messages {
	height: 15em;
	overflow: auto;
}

.content .field .input .button {
		display: none;
	}

#signupbtn {
	opacity: 0.5;
}

#chatroom-header {
	margin-top: 5px;
}

#header {
	margin-top: 20px;
}

#divider {
	color: #777;
}

#messages-wrapper {
	min-height: 45px;
}