<!-- Header -->
<div class="header item">
  <b>Message</b>
  <i class="fitted comment alternate icon"></i>
  <b>Now</b>
</div>
<!-- /Header -->

<!-- Right hand options -->
<div class="right menu">

  <!-- Logout -->
  <% if logged_in? %>
    <div class="item">
      <%= link_to "Log out", logout_path, method: :delete, class: "ui inverted grey button" %>
    </div>
  <% end %>
  <!-- /Logout -->

  <!-- Sign up button -->
  <% if !logged_in? %>

    <div class="item">
    <%= link_to "Log in", login_path, class: "ui inverted grey button" %>
    </div>

    <div class="item">
    <%= link_to "Sign up", signup_path, class: "ui inverted grey button" %> 
    </div>

  <% end %>
  <!-- /Sign up button -->

</div>
<!-- /Right hand options -->